[submodule "src/3rdparty/prost"]
	path = src/3rdparty/prost
	url = git@github.com:phoenix-dataplane/prost.git
	branch = mrpc
[submodule "src/phoenix_examples/masstree_analytics/libmt_index/masstree-beta"]
	path = src/phoenix_examples/masstree_analytics/libmt_index/masstree-beta
	url = https://github.com/anujkaliaiitd/masstree-beta.git
