[submodule "experimental/mrpc/examples/masstree_analytics/libmt_index/masstree-beta"]
	path = experimental/mrpc/examples/masstree_analytics/libmt_index/masstree-beta
	url = https://github.com/anujkaliaiitd/masstree-beta.git
[submodule "experimental/mrpc/3rdparty/prost"]
	path = experimental/mrpc/3rdparty/prost
	url = https://github.com/phoenix-dataplane/prost.git
	branch = mrpc-refactor
