# overwrite with env PHOENIX_LOG
log_level = "debug"

[tracing]
# overwrite with env PHOENIX_TRACING
enable = false
# this will log messages level lower than specified into file
# e.g., min_event_level="debug" will log events of "trace" and "debug" to file
# overwrite with env PHOENIX_MIN_TRACING_EVENT
min_event_level = "trace"
# PHOENIX_MAX_TRACING_EVENT, this should be equal or more verbose than min_event_level
max_event_level = "trace"
# overwrite with env PHOENIX_TRACING_SPAN
span_level = "info"
# overwrite with env PHOENIX_TRACING_DIR
output_dir = "/tmp/phoenix-trace"

[profiling]
# overwrite with env PHOENIX_PROFILING_ENABLE_ON_NEW_CLIENT
enable_on_new_client = true
# overwrite with env PHOENIX_PROFILING_DURATION_MS
duration_ms = 1000

# [runtime]
# max_dedicate = 10

[control]
# overwrite with PHOENIX_PREFIX
prefix = "/tmp/phoenix"
# overwrite with PHOENIX_CONTROL
path = "control.sock"

[linker]
workdir = "linker"

# Prelude Modules
[[modules]]
name = "RdmaTransport"
lib_path = "plugins/libphoenix_transport_rdma.rlib"

[[modules]]
name = "TcpTransport"
lib_path = "plugins/libphoenix_transport_tcp.rlib"

[[modules]]
name = "Salloc"
lib_path = "plugins/libphoenix_salloc.rlib"

# Prelude Addons (not in effect until being attached)
[[addons]]
name = "RateLimit"
lib_path = "plugins/libphoenix_ratelimit.rlib"
config_string = '''
requests_per_sec = 1000
bucket_size = 1000
'''
