name = "ratelimit_1/rpc_bench_tput_32b"
description = "Run rpc_bench benchmark"
group = "ratelimit"
timeout_secs = 60

[[worker]]
host = "danyang-03"
bin = "rpc_bench_server"
args = "--port 5002"

[[worker]]
host = "danyang-02"
bin = "rpc_bench_client"
args = "-c rdma0.danyang-03 --concurrency 32 --req-size 32 --duration 50 -i 0.5 --port 5002"
dependencies = [0]
