# cargo build & test
name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - "**"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Cargo check, run tests and fmt
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Install RDMA library
      run: sudo apt install -y rdma-core libibverbs-dev librdmacm-dev    
    - name: Install nightly rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        override: false
        components: rustfmt, clippy
    - name: Run cargo check
      uses: actions-rs/cargo@v1
      with:
        command: check              
    - name: Run cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
      env:
        RUST_BACKTRACE: 1
    - name: Check formatting
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check